numpy==2.3.2
torch==2.8.0
torchvision==0.23.0
cuda==12.6
fastapi==0.116.1
scikit-learn==1.7.1
matplotlib==3.10.5
pytorch-lightning==2.5.3
pandas==2.3.1
torchmetrics
tqdm
uvicorn
seaborn
python-multipart
